.container{
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(0, 0, 0, 80%);
}

.popUpBox{
    position: absolute;
    background-color: var(--color-background-invoiceOverview);
    padding-inline: 2rem;
    max-width: 330px;
    min-height: 160px;
    border-radius: var(--border-radius);
    left: calc(50% - (var(--layout-margin) / 2) - 165px);
    /* top: calc(50% - (var(--layout-margin) / 2) - 100px); */
    top: 23rem;
    margin: 2rem;
    z-index: 999;
}

.buttonPosition{
    display: inline;
    float: right;
}

.spaceButton{
    margin-right: 1rem;
}

@media(min-width: 90rem){
    
    .popUpBox{
        left: 40rem;
        top: 25rem;
    }
}