.contentOrder{
  display: flex;
  flex-direction: column;
}

.content{
  margin-inline: 2rem;
}

@media(min-width: 768px){

  .content{
    margin-inline:7vw;
    min-width: 550px; 
    max-width: 800px;
  }
}

@media(min-width: 90rem){

  .contentOrder{
    flex-direction: row;
  }

  .content{
    margin-inline: 13rem;
    width: 900px;
  }
}

