/* dropdown */
.dropdown{
    position: relative;
    display: block;
    width: 15rem;
    cursor: pointer;   
}


.dropdownLabel{
    display: flex;
    justify-content: space-between;
    width: 113%;
    border-radius: var(--radius-form);
    align-items: center;
    border: .1rem solid var(--color-form-border);
    padding: .8rem;
    background-color: var(--color-background);
}

.dropdownContent{
    position: absolute;
    list-style: none;
    padding: 0;
    width: 100%;
    box-shadow: .1rem .1rem .2rem var(--color-form-border),
    -.1rem 0rem .8rem var(--color-form-border)    ;
    border-radius: var(--radius-form);
    background-color:  var(--color-background);
    z-index: 9999;
    display: none;
}

.dropdownContent > li {
    padding-block: .7rem;
    border-bottom: .01rem solid var(--color-form-border);
}

.dropdownContent > li > span{
    padding-inline: 1.8rem;
}

.dropdownContent > li > span:hover {
    color: var(--color-form-active)
}


.inputValue{
    border: transparent;
    width: 95%;
    padding: 0;
    cursor: pointer;
    outline: transparent !important;
}

