.container{
    position: relative;
    z-index: 101;
}

.btnGoBack{
    margin-top: 2rem;
}

.status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.statusH3{
    font-size: 15px;
}

.statusOutside{
    margin-top: .5rem;
}

.colorThirdFont{
    color: var(--color-third-font)
}

.colorFourthFont{
    color: var(--color-fourth-font);
}

.errorMessage{
    color: red;
    height: 2rem;
    display: block;
    margin: 0;
    border: 1px solid var(--color-background-site);
}

@media(min-width: 768px){

    .statusH3{
        margin-right: 2rem;
    }

    .status{
        justify-content: start;
    }

    .statusOutside{
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }
}

/* start main */

.gridContainerId{
    grid-area: id;
}

.gridContainerAdress{
    grid-area: adress; 
}

.gridContainerDate{
    grid-area: date;
}

.gridContainerDue{
    grid-area: due;
}

.gridContainerBillTo{
    grid-area: billTo;
}

.gridContainerBillTo>h2{
    margin-bottom: 1rem;
}

.gridContainerSendTo{
    grid-area: sentTo;
}

.id{
    margin-bottom: 0;
}

.detailsH2{
    margin-top: 0;
    margin-bottom: 0;
}

.description{
    margin-top: 0;
}

.span{
    display: block;
}

.mainGrid{
    width: 100%;
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template: 
     'id id'
     'adress adress'
     'date billTo' 
     'due billTo' 
     'sentTo sentTo';
}

@media(min-width: 768px){

    .mainGrid{
        max-width: 800px;
        grid-template:
         'id . . adress' 
         'date billTo sentTo sentTo' 
         'due billTo . .';
    }

    .container{
        max-width: 800px;
    }
}

@media(min-width: 90rem){

    .container{
        margin-top: 2rem;
        min-width: 900px;
    }
}

/* end main */

