.order{
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 10000;
}

.orderButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.headline{
    color: var(--color-main-font);
    margin-bottom: 0;
}

.secondLine{
    color: var(--color-second-font);
    margin-top: 0;
}

.btnWithArrow{
    color: var(--color-main-font);
}

/* Filter Box */
.containerFilterOption{
    position: absolute;
    transform: translate3d(-3rem, 8.3rem, 0);
    box-shadow:  
        .2rem .2rem .8rem 0 var(--color-background-site),
        -.2rem -.2rem .8rem 0 var(--color-background-site);
    border-radius: 1rem;
    background-color: var(--color-background-invoiceOverview);
    padding: 2rem;
    padding-bottom: .7rem;
    display: block;
    z-index: 99;

}

.containerFilterOptionsLine{
    width: 9rem;
    display: flex;
    margin-bottom: 1rem;
    cursor: pointer;
}

.containerFilterOptionsCheckBox{
    height: 1.5rem;
    background-color: var(--color-background-site);
    border-radius: .2rem;
    aspect-ratio: 1;
    z-index: 1000;
}

.containerFilterOptionsName{
    margin-left: 1.5rem;
}

.show{
    display: block;
}

.hide{
    display: none;
}