:root{
    --color-dark-purple: hsl(252, 94%, 67%); /* #7C5DFA */
    --color-purple: hsl(252, 100%, 73%); /* #9277FF */
    --color-light-black: hsl(233, 31%, 17%); /* #1E2139 */
    --color-anthrazit: hsl(233, 30%, 21%); /* #252945 */
    --color-light-gray: hsl(231, 73%, 93%); /* #DFE3FA */
    --color-dark-gray: hsl(231, 20%, 61%); /* #888EB0 */
    --color-blue-gray: hsl(231, 37%, 63%); /* #7E88C3 */
    --color-black: hsl(228, 29%, 7%); /* #0C0E16 */
    --color-red: hsl(0, 80%, 63%); /* #EC5757 */
    --color-pink: hsl(0, 100%, 80%); /* #9277FF */
    --color-white: hsl(240, 27%, 98%); /* #F8F8FB (Light BG) */
    --color-gray-black: hsl(233, 30%, 11%); /* #141625 */

    --color-button-white: hsl(210, 19%, 98%); /* #F9FAFE */
    --color-button-dark: hsl(231, 20%, 27%); /* #373B53 */
    --color-button-light-red: hsl(0, 100%, 79%);/* #FF9797 */

    
    --border-radius: 1.5rem;
  }

  [data-theme="light"]{

    /* homepage */
    --background-color-header: var(--color-button-dark);
    --color-main-font: var(--color-black);
    --color-second-font: var(--color-dark-gray);
    --color-third-font: var(--color-blue-gray);
    --color-fourth-font: var(--color-blue-gray);
    --color-background-site: #F2F2F2;
    --color-background-edit: #FFF;

    /* button 3 */
    --color-background-button3: var(--color-button-white);
    --color-background-button3-hover: var(--color-light-gray);
    --color-font-button3: var(--color-blue-gray);

    /* button 4 */
    --color-background-button4: var(--color-button-dark);
    --color-background-button4-hover: var(--color-black);
    --color-font-button4: var(--color-dark-gray);

    /* Form Elements */
    --color-form-border: var(--color-light-gray);
    --color-form-active: var(--color-dark-purple);
    --color-form-font-headings: var(--color-blue-gray);
    --color-form-font: var(--color-black);
    --radius-form: .5rem;
    --color-background: white;

    /* invoice overview */
    --color-background-invoiceOverview: #FFF;

    /* table */
    --color-background-table: var(--color-button-white);
  }

  [data-theme="dark"]{
    
    /* homepage */
    --background-color-header: var(--color-light-black);
    --color-main-font: white;
    --color-second-font: var(--color-light-gray);
    --color-third-font: var(--color-light-gray);
    --color-fourth-font: var(--color-dark-gray);
    --color-background-site: var(--color-gray-black);
    --color-background-edit: var(--color-gray-black);

    /* button 3 */
    --color-background-button3: var(--color-anthrazit);
    --color-background-button3-hover: var(--color-button-dark);
    --color-font-button3: var(--color-light-gray);

    /* button 4 */
    --color-background-button4: var(--color-button-dark);
    --color-background-button4-hover: var(--color-light-black);
    --color-font-button4: var(--color-light-gray);

    /* Form Elements */
    --color-form-active: var(--color-dark-purple);
    --color-form-font: var(--color-white);
    --radius-form: .5rem;
    --color-background: var(--color-light-black);
    /* --color-background-datepicker: var() */

    /* invoice overview */
    --color-background-invoiceOverview: var(--color-light-black);

    /* table */
    --color-background-table: var(--color-anthrazit);
  }