html,
body {
  padding: 0;
  margin: 0;
  min-width: 300px;
  height: 100%;

  /* Body 2, Spartan Medium 500, 11px , 18px Line, -0,23 Spacing  */
  font-variation-settings: 'wght' 500;
  /* Attention 1rem -> 11px */
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -.23px;
  background-color: var(--color-background-site);
  color: var(--color-font-site);
} 



button{
  all: unset;
  cursor: pointer;
}

/* H1  |  Spartan Bold  |  32px  |  36px Line  |  -1 Spacing */
h1{
  font-variation-settings: 'wght' 700;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -1px;
}



/* H2  |  Spartan Bold  |  20px  |  22px Line  |  -0.63 Spacing */
h2{
  font-variation-settings: 'wght' 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -.63px;
}

/* H3-2  |  Spartan Bold  |  12px  |  15px Line  |  -0.25 Spacing */
h3{
  font-variation-settings: 'wght' 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: .7px;
}

@media(min-width: 500px){
/* @media(min-width: 768px){ */
  /* @media(min-width: 48em){ */

  /* not totaly clear now where to use exactly: Body1 & H3-1 */

  /* Body 1, Spartan Medium, 12px , 15px Line, -0.25 Spacing */
  body{
    font-variation-settings: 'wght' 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -.25px;
    
  }

  h1{
    font-size: 32px;
  }

  /* H3-1  |  Spartan Bold  |  16px  |  24px Line  |  -0.8 Spacing */
  h3{
    font-variation-settings: 'wght' 700;
    font-size: 16px;
    line-height: 24px;
    /* letter-spacing: -.8px; */
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* global form */

label{
  color: var(--color-form-font-headings);
  margin-bottom: .3rem;
  display: block;
}

input{
  display: block;
  border-style: none;
  background: white;
  color: var(--color-form-font);
  border-radius: var(--radius-form);
  background-color: var(--color-background);
  border: .1rem solid var(--color-form-border);
  padding: .8rem;
}

/* customize react-datepicker */

.react-datepicker__header,
.react-datepicker__month{
  background-color: var(--color-background) !important;
}

.react-datepicker__month{
  padding: 4.4px !important;
  margin: 0 !important;
}

.react-datepicker__current-month{
  margin-top: .5rem  !important;
}

.react-datepicker__day{
  color: var(--color-form-font) !important;
}

.react-datepicker__input-container input {
  border: .1rem solid var(--color-form-border) !important;
  padding: .8rem;
  border-radius: var(--radius-form) !important;
}

